.App {
  text-align: center;
}

@font-face {
  font-family: "YUniverse-B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "YUniverse-B";
  font-weight: 600;
}
